# General macOS
.DS_Store
.AppleDouble
.LSOverride

# Specific files
nvim/.config/nvim/undodir
nvim/.config/nvim/plugin
nvim/.config/nvim/lazy-lock.json

# Swap files
*.swp

# Lockfiles
Brewfile.lock.json
